<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example </title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">

</head>
<body>
    <div class="jumbotron">
        <!-- Tabs Titles -->

        <div th:if="${param.error}" class="alert alert-warning" role="alert">
            Invalid username and password.
        </div>
        <div th:if="${param.logout}" class="alert alert-success" role="alert">
            You have been logged out.
        </div>

        <form th:action="@{/login}" method="post">
            <div class="form-group">
                <label for="accountname">Name</label>
                <input  id="accountname" class="fadeIn second" type="text" name="username"/>
            </div>

            <div class="form-group">
                <label for="passy">Password</label>
                <input id="passy" class="fadeIn third" type="password" name="password"/>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>


    </div>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>